<p id="notice"><%= notice %></p>

<h1>All Statuses</h1>

<% @statuses.each do |status| %>

<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author"><%= status.name %></a>
      <div class="text">
        <%= status.content %>
      </div>
      <div class="actions">
        <%= link_to 'Edit', edit_status_path(status) %>
        <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>


<% end %>

<div class="ui submit button"> 
<%= link_to 'New Status', new_status_path %>
</div>