<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
	<div class="ui secondary pointing menu">
		<div class="header item">
			Treebook
		</div>
		  <li class="active item">
		    <%= link_to "All Statuses", statuses_path %>
		  </li>
		  <div class="right menu">
		    <div class="item">
		      <div class="ui transparent icon input">
		        <input type="text" placeholder="Search...">
		      </div>
		    </div>
		    <a class="ui item">
		      Logout
		    </a>
		  </div>
	</div>
	
	<div class="ui page grid">
		<div class="sixteen wide column">
			<p class="notice"><%= notice %></p>
       		<p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
	</div>
</body>
</html>
